libphp-embed/noble,noble 2:8.3+93ubuntu2 all
libphp-snoopy/noble,noble 2.0.0-3 all
libphp8.3-embed/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
node-codemirror-lang-php/noble,noble 6.0.1~6.22.3+~cs119.52.50-1 all
node-lezer-php/noble,noble 1.0.2~1.4.13+~cs14.24.45-1 all
php/noble,noble 2:8.3+93ubuntu2 all
php-amqp/noble 1.11.0-5ubuntu1 amd64
php-amqp-all-dev/noble,noble 1.11.0-5ubuntu1 all
php-ast/noble 1.1.0-2ubuntu1 amd64
php-ast-all-dev/noble,noble 1.1.0-2ubuntu1 all
php-bcmath/noble,noble 2:8.3+93ubuntu2 all
php-bz2/noble,noble 2:8.3+93ubuntu2 all
php-cgi/noble,noble 2:8.3+93ubuntu2 all
php-cli/noble,noble,now 2:8.3+93ubuntu2 all [installed,automatic]
php-common/noble,noble,now 2:93ubuntu2 all [installed,automatic]
php-composer-class-map-generator/noble,noble,now 1.1.0-2 all [installed,automatic]
php-composer-xdebug-handler/noble,noble,now 3.0.3-3 all [installed,automatic]
php-curl/noble,noble,now 2:8.3+93ubuntu2 all [installed,automatic]
php-dapphp-radius/noble,noble 2.5.8-3 all
php-dasprid-enum/noble,noble 1.0.5-1 all
php-datto-json-rpc/noble,noble 6.1.0-2 all
php-db/noble,noble 1.11.0-1ubuntu1 all
php-dev/noble,noble 2:8.3+93ubuntu2 all
php-di/noble,noble 7.0.6-1 all
php-di-invoker/noble,noble 2.3.4-1 all
php-doc/noble,noble 20231206~git.66ff996+dfsg-2 all
php-doctrine-common/noble,noble 3.4.3-1 all
php-doctrine-data-fixtures/noble,noble 1.6.7-1 all
php-dragonmantank-cron-expression/noble,noble 3.3.2-1 all
php-ds/noble 1.4.0-5ubuntu1 amd64
php-ds-all-dev/noble,noble 1.4.0-5ubuntu1 all
php-econea-nusoap/noble,noble 0.9.16+dfsg-1 all
php-enchant/noble,noble 2:8.3+93ubuntu2 all
php-excimer/noble 1.1.1-2build1 amd64
php-facedetect/noble 1.1.0-19-g135c72a-2ubuntu4 amd64
php-facedetect-all-dev/noble,noble 1.1.0-19-g135c72a-2ubuntu4 all
php-fdomdocument/noble,noble 1.6.7-2 all
php-font-lib/noble,noble 0.5.4+dfsg-3 all
php-fpdf/noble,noble 3:1.8.4.dfsg-2 all
php-fpm/noble,noble 2:8.3+93ubuntu2 all
php-fxsl/noble,noble 1.1.1-6 all
php-gd/noble,noble,now 2:8.3+93ubuntu2 all [installed]
php-gearman/noble 2.1.0+1.1.2-12ubuntu3 amd64
php-gearman-all-dev/noble,noble 2.1.0+1.1.2-12ubuntu3 all
php-getid3/noble,noble 1.9.23+dfsg-1 all
php-gettext-languages/noble,noble 2.9.0-3 all
php-gmagick/noble 2.0.6~rc1+1.1.7~rc3-11ubuntu3 amd64
php-gmagick-all-dev/noble,noble 2.0.6~rc1+1.1.7~rc3-11ubuntu3 all
php-gmp/noble,noble 2:8.3+93ubuntu2 all
php-gnupg/noble 1.5.1-3ubuntu3 amd64
php-gnupg-all-dev/noble,noble 1.5.1-3ubuntu3 all
php-htmlawed/noble,noble 1.1.20-1.1 all
php-http/noble 4.2.3-3.1ubuntu8 amd64
php-http-all-dev/noble,noble 4.2.3-3.1ubuntu8 all
php-http-webdav-server/noble,noble 1.0.0RC8-1.1 all
php-igbinary/noble 3.2.13-1ubuntu3 amd64
php-igbinary-all-dev/noble,noble 3.2.13-1ubuntu3 all
php-image-text/noble,noble 0.7.0-3 all
php-imagick/noble 3.7.0-4ubuntu3 amd64
php-imagick-all-dev/noble,noble 3.7.0-4ubuntu3 all
php-imap/noble,noble 2:8.3+93ubuntu2 all
php-interbase/noble,noble 2:8.3+93ubuntu2 all
php-intl/noble,noble,now 2:8.3+93ubuntu2 all [installed,automatic]
php-json/noble,noble 2:8.3+93ubuntu2 all
php-laravel-serializable-closure/noble,noble 1.3.0-1 all
php-ldap/noble,noble 2:8.3+93ubuntu2 all
php-league-commonmark/noble,noble 2.4.2-2 all
php-league-mime-type-detection/noble,noble 1.10.0+ds-1 all
php-luasandbox/noble 4.1.1-1build1 amd64
php-mail-mime/noble,noble 1.10.11-1 all
php-mailparse/noble-updates 3.1.4+2.1.7~dev20160128-1ubuntu1.1 amd64
php-mailparse-all-dev/noble-updates,noble-updates 3.1.4+2.1.7~dev20160128-1ubuntu1.1 all
php-malkusch-lock/noble,noble 2.2.1+ds-1 all
php-maxminddb/noble 1.11.0-5ubuntu1 amd64
php-maxminddb-all-dev/noble,noble 1.11.0-5ubuntu1 all
php-mbstring/noble,noble,now 2:8.3+93ubuntu2 all [installed,automatic]
php-mcrypt/noble 3:1.0.5-4ubuntu1 amd64
php-mcrypt-all-dev/noble,noble 3:1.0.5-4ubuntu1 all
php-memcache/noble 8.0+4.0.5.2+3.0.9~20170802.e702b5f9+-8ubuntu1 amd64
php-memcache-all-dev/noble,noble 8.0+4.0.5.2+3.0.9~20170802.e702b5f9+-8ubuntu1 all
php-memcached/noble 3.2.0+2.2.0-4ubuntu3 amd64
php-memcached-all-dev/noble,noble 3.2.0+2.2.0-4ubuntu3 all
php-ml-json-ld/noble,noble 1.2.1-1 all
php-mock/noble,noble 2.3.1-1 all
php-msgpack/noble 1:2.2.0~rc2-3ubuntu1 amd64
php-msgpack-all-dev/noble,noble 1:2.2.0~rc2-3ubuntu1 all
php-mysql/noble,noble 2:8.3+93ubuntu2 all
php-net-ldap2/noble,noble 2.3.0-1 all
php-oauth/noble 2.0.7+1.2.3-16ubuntu1 amd64
php-oauth-all-dev/noble,noble 2.0.7+1.2.3-16ubuntu1 all
php-odbc/noble,noble 2:8.3+93ubuntu2 all
php-oscarotero-gettext/noble,noble 4.8.7-2 all
php-parsedown/noble,noble 1.7.4-1 all
php-parsedown-extra/noble,noble 0.8.1-2 all
php-pclzip/noble,noble 2.8.2-5 all
php-pgsql/noble,noble 2:8.3+93ubuntu2 all
php-php-gettext/noble,noble 1.0.12-6 all
php-phpdbg/noble,noble 2:8.3+93ubuntu2 all
php-phpmyadmin-motranslator/noble,noble 5.3.1-1 all
php-pinba/noble 1.1.2-16ubuntu1 amd64
php-pinba-all-dev/noble,noble 1.1.2-16ubuntu1 all
php-predis/noble,noble 2.2.2-1 all
php-ps/noble 1.4.4+1.3.7-7ubuntu1 amd64
php-ps-all-dev/noble,noble 1.4.4+1.3.7-7ubuntu1 all
php-pspell/noble,noble 2:8.3+93ubuntu2 all
php-psr/noble 1.2.0-5ubuntu1 amd64
php-psr-all-dev/noble,noble 1.2.0-5ubuntu1 all
php-psr-log/noble,noble,now 3.0.0-1 all [installed,automatic]
php-readline/noble,noble 2:8.3+93ubuntu2 all
php-redis/noble 5.3.7+4.3.0-3ubuntu1 amd64
php-redis-all-dev/noble,noble 5.3.7+4.3.0-3ubuntu1 all
php-sabre-dav/noble,noble 1.8.12-10 all
php-sass/noble 0.7-1ubuntu5 amd64
php-sass-all-dev/noble,noble 0.7-1ubuntu5 all
php-smbclient/noble 1.0.6-8ubuntu3 amd64
php-smbclient-all-dev/noble,noble 1.0.6-8ubuntu3 all
php-snmp/noble,noble 2:8.3+93ubuntu2 all
php-soap/noble,noble 2:8.3+93ubuntu2 all
php-solr/noble 2.6.0+2.4.0-3ubuntu3 amd64
php-solr-all-dev/noble,noble 2.6.0+2.4.0-3ubuntu3 all
php-sqlite3/noble,noble 2:8.3+93ubuntu2 all
php-stomp/noble 2.0.3-2ubuntu1 amd64
php-stomp-all-dev/noble,noble 2.0.3-2ubuntu1 all
php-sybase/noble,noble 2:8.3+93ubuntu2 all
php-symfony-amazon-sqs-messenger/noble,noble 6.4.5+dfsg-3ubuntu3 all
php-symfony-amqp-messenger/noble,noble 6.4.5+dfsg-3ubuntu3 all
php-symfony-cache/noble,noble 6.4.5+dfsg-3ubuntu3 all
php-symfony-contracts/noble,noble 3.4.1-4 all
php-symfony-intl/noble,noble 6.4.5+dfsg-3ubuntu3 all
php-symfony-polyfill/noble,noble 1.28.0-1 all
php-symfony-polyfill-apcu/noble,noble 1.28.0-1 all
php-symfony-polyfill-ctype/noble,noble 1.28.0-1 all
php-symfony-polyfill-iconv/noble,noble 1.28.0-1 all
php-symfony-polyfill-intl-grapheme/noble,noble 1.28.0-1 all
php-symfony-polyfill-intl-icu/noble,noble 1.28.0-1 all
php-symfony-polyfill-intl-idn/noble,noble 1.28.0-1 all
php-symfony-polyfill-intl-messageformatter/noble,noble 1.28.0-1 all
php-symfony-polyfill-intl-normalizer/noble,noble 1.28.0-1 all
php-symfony-polyfill-mbstring/noble,noble 1.28.0-1 all
php-symfony-polyfill-php72/noble,noble 1.28.0-1 all
php-symfony-polyfill-php73/noble,noble 1.28.0-1 all
php-symfony-polyfill-php74/noble,noble 1.28.0-1 all
php-symfony-polyfill-php80/noble,noble 1.28.0-1 all
php-symfony-polyfill-php83/noble,noble 1.28.0-1 all
php-symfony-polyfill-util/noble,noble 1.28.0-1 all
php-symfony-polyfill-uuid/noble,noble 1.28.0-1 all
php-symfony-polyfill-xml/noble,noble 1.28.0-1 all
php-symfony-property-info/noble,noble 6.4.5+dfsg-3ubuntu3 all
php-symfony-redis-messenger/noble,noble 6.4.5+dfsg-3ubuntu3 all
php-symfony-simple-textin-notifier/noble,noble 6.4.5+dfsg-3ubuntu3 all
php-symfony-web-link/noble,noble 6.4.5+dfsg-3ubuntu3 all
php-tcpdf/noble,noble 6.7.5+dfsg-1 all
php-text-captcha/noble,noble 1.0.2-9 all
php-text-figlet/noble,noble 1.0.2-5 all
php-text-languagedetect/noble,noble 0.3.0-2.1 all
php-text-password/noble,noble 1.2.1-5build3 all
php-text-template/noble,noble 2.0.4-2 all
php-text-wiki/noble,noble 1.2.1-3.1 all
php-tideways/noble 5.0.4-16ubuntu1 amd64
php-tideways-all-dev/noble,noble 5.0.4-16ubuntu1 all
php-tidy/noble,noble 2:8.3+93ubuntu2 all
php-twig-cache-extra/noble-updates,noble-updates,noble-security,noble-security 3.8.0-2ubuntu1 all
php-twig-cssinliner-extra/noble-updates,noble-updates,noble-security,noble-security 3.8.0-2ubuntu1 all
php-twig-extra-bundle/noble-updates,noble-updates,noble-security,noble-security 3.8.0-2ubuntu1 all
php-twig-html-extra/noble-updates,noble-updates,noble-security,noble-security 3.8.0-2ubuntu1 all
php-twig-i18n-extension/noble,noble 4.1.0-1 all
php-twig-inky-extra/noble-updates,noble-updates,noble-security,noble-security 3.8.0-2ubuntu1 all
php-twig-intl-extra/noble-updates,noble-updates,noble-security,noble-security 3.8.0-2ubuntu1 all
php-twig-markdown-extra/noble-updates,noble-updates,noble-security,noble-security 3.8.0-2ubuntu1 all
php-twig-string-extra/noble-updates,noble-updates,noble-security,noble-security 3.8.0-2ubuntu1 all
php-uopz/noble 7.1.1+6.1.2-7ubuntu1 amd64
php-uopz-all-dev/noble,noble 7.1.1+6.1.2-7ubuntu1 all
php-uploadprogress/noble 2.0.2+1.1.4-8ubuntu1 amd64
php-uploadprogress-all-dev/noble,noble 2.0.2+1.1.4-8ubuntu1 all
php-uuid/noble 1.2.0-12ubuntu1 amd64
php-uuid-all-dev/noble,noble 1.2.0-12ubuntu1 all
php-voku-portable-ascii/noble,noble 2.0.1-1 all
php-wikidiff2/noble 1.14.1-1build1 amd64
php-wmerrors/noble 2.0.0-1build1 amd64
php-xdebug/noble 3.2.0+3.1.6+2.9.8+2.8.1+2.5.5-3ubuntu1 amd64
php-xdebug-all-dev/noble,noble 3.2.0+3.1.6+2.9.8+2.8.1+2.5.5-3ubuntu1 all
php-xml/noble,noble 2:8.3+93ubuntu2 all
php-xmlrpc/noble 3:1.0.0~rc3-6ubuntu2 amd64
php-xmlrpc-all-dev/noble,noble 3:1.0.0~rc3-6ubuntu2 all
php-yaml/noble 2.2.2+2.1.0+2.0.4+1.3.2-6ubuntu1 amd64
php-yaml-all-dev/noble,noble 2.2.2+2.1.0+2.0.4+1.3.2-6ubuntu1 all
php-zend-code/noble,noble 4.13.0-2 all
php-zeroc-ice/noble 3.7.10-2.1build1 amd64
php-zeta-unit-test/noble,noble 1.2.5-1 all
php-zip/noble,noble,now 2:8.3+93ubuntu2 all [installed,automatic]
php8.3/noble-updates,noble-updates,noble-security,noble-security 8.3.6-0ubuntu0.24.04.4 all
php8.3-amqp/noble 1.11.0-5ubuntu1 amd64
php8.3-ast/noble 1.1.0-2ubuntu1 amd64
php8.3-bcmath/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-bz2/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-cgi/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-cli/noble-updates,noble-security,now 8.3.6-0ubuntu0.24.04.4 amd64 [installed,automatic]
php8.3-common/noble-updates,noble-security,now 8.3.6-0ubuntu0.24.04.4 amd64 [installed,automatic]
php8.3-curl/noble-updates,noble-security,now 8.3.6-0ubuntu0.24.04.4 amd64 [installed,automatic]
php8.3-dba/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-dev/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-ds/noble 1.4.0-5ubuntu1 amd64
php8.3-enchant/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-facedetect/noble 1.1.0-19-g135c72a-2ubuntu4 amd64
php8.3-fpm/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-gd/noble-updates,noble-security,now 8.3.6-0ubuntu0.24.04.4 amd64 [installed,automatic]
php8.3-gearman/noble 2.1.0+1.1.2-12ubuntu3 amd64
php8.3-gmagick/noble 2.0.6~rc1+1.1.7~rc3-11ubuntu3 amd64
php8.3-gmp/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-gnupg/noble 1.5.1-3ubuntu3 amd64
php8.3-http/noble 4.2.3-3.1ubuntu8 amd64
php8.3-igbinary/noble 3.2.13-1ubuntu3 amd64
php8.3-imagick/noble 3.7.0-4ubuntu3 amd64
php8.3-imap/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-interbase/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-intl/noble-updates,noble-security,now 8.3.6-0ubuntu0.24.04.4 amd64 [installed,automatic]
php8.3-ldap/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-mailparse/noble-updates 3.1.4+2.1.7~dev20160128-1ubuntu1.1 amd64
php8.3-maxminddb/noble 1.11.0-5ubuntu1 amd64
php8.3-mbstring/noble-updates,noble-security,now 8.3.6-0ubuntu0.24.04.4 amd64 [installed,automatic]
php8.3-mcrypt/noble 3:1.0.5-4ubuntu1 amd64
php8.3-memcache/noble 8.0+4.0.5.2+3.0.9~20170802.e702b5f9+-8ubuntu1 amd64
php8.3-memcached/noble 3.2.0+2.2.0-4ubuntu3 amd64
php8.3-msgpack/noble 1:2.2.0~rc2-3ubuntu1 amd64
php8.3-mysql/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-oauth/noble 2.0.7+1.2.3-16ubuntu1 amd64
php8.3-odbc/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-opcache/noble-updates,noble-security,now 8.3.6-0ubuntu0.24.04.4 amd64 [installed,automatic]
php8.3-pgsql/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-phpdbg/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-pinba/noble 1.1.2-16ubuntu1 amd64
php8.3-ps/noble 1.4.4+1.3.7-7ubuntu1 amd64
php8.3-pspell/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-psr/noble 1.2.0-5ubuntu1 amd64
php8.3-readline/noble-updates,noble-security,now 8.3.6-0ubuntu0.24.04.4 amd64 [installed,automatic]
php8.3-redis/noble 5.3.7+4.3.0-3ubuntu1 amd64
php8.3-sass/noble 0.7-1ubuntu5 amd64
php8.3-smbclient/noble 1.0.6-8ubuntu3 amd64
php8.3-snmp/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-soap/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-solr/noble 2.6.0+2.4.0-3ubuntu3 amd64
php8.3-sqlite3/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-stomp/noble 2.0.3-2ubuntu1 amd64
php8.3-sybase/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-tideways/noble 5.0.4-16ubuntu1 amd64
php8.3-tidy/noble-updates,noble-security 8.3.6-0ubuntu0.24.04.4 amd64
php8.3-uopz/noble 7.1.1+6.1.2-7ubuntu1 amd64
php8.3-uploadprogress/noble 2.0.2+1.1.4-8ubuntu1 amd64
php8.3-uuid/noble 1.2.0-12ubuntu1 amd64
php8.3-xdebug/noble 3.2.0+3.1.6+2.9.8+2.8.1+2.5.5-3ubuntu1 amd64
php8.3-xml/noble-updates,noble-security,now 8.3.6-0ubuntu0.24.04.4 amd64 [installed]
php8.3-xmlrpc/noble 3:1.0.0~rc3-6ubuntu2 amd64
php8.3-yaml/noble 2.2.2+2.1.0+2.0.4+1.3.2-6ubuntu1 amd64
php8.3-zip/noble-updates,noble-security,now 8.3.6-0ubuntu0.24.04.4 amd64 [installed,automatic]
